/* -------------------------------------------------------------------------- */
/*                               Estilo general                               */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    resize: vertical;
    --fondo: #96313f;
    --secundario: yellow;
    --tercero: green;
    font-family: Merriweather, 'Times New Roman', Times, serif;
}



header {
    display: table-cell;
    background-color: var(--fondo);
    height: 100px;
    width: 100vw;
    position: sticky;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 0px 5px;
    z-index: 9999;
}

header img.alcudia {
    height: 80%;
    float: left;
    position: relative;
    left: 20px;
    top: 2px;
}

header img.comunitat {
    height: 80%;
    float: right;
    position: relative;
    right: 20px;
    top: 2px;
} 

header h1 {
    color: var(--secundario);
    font-size: 1em;
    padding: 10px;
}



.select {
    border-radius: 5px 20px;
    background-color: #662029;
    color: var(--secundario);
}



footer {
    min-height: 200px;
    background-color: var(--fondo);
    clear: both;
}

footer div.redes img {
    max-height: 50px;
    padding: 7px;
}

.redes {
    float: right;
    position: relative;
    bottom: -130px;
}

.banner {
    max-width: 60%;
    max-height: 100px;
    position: relative;
    top: 20px;
    left: 20px;
    opacity: 0.15;
}

nav li {
    padding: 15px;
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: var(--secundario);
    border-radius: 5px 20px 5px 20px;
    transition: 1s;
}

nav ul li a:hover {
    background-color: var(--secundario);
    padding: 15px;
    color: var(--fondo);
    box-shadow: 1px 1px 5px var(--tercero);
    transition: 0.5s;
}

.texto p {
    padding: 30px;
    margin: 0px auto;
    max-width: 900px;
    text-align: justify;
    font-size: 1.2rem;
}

.texto h2 {
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 2rem;
}

.texto h3 {
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 1.7rem;
}

:target {
    background-color: var(--fondo);
    color: var(--secundario);
    border-radius: 20px;
    transition: 2s;
    padding: 30px;
}

.fondo {
    background-image: url(../img/adctransparencia.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 110vh;
    margin-bottom: -23px;
    position: relative;
    top: -23px;
}
/* -------------------------------------------------------------------------- */
/*                           Inicio página principal                          */
/* -------------------------------------------------------------------------- */
/* Colocar el boton fijo a la parte de arriba */
.desplegable nav { 
    position: fixed;
    top: 0; 
    opacity: .6;
    transition: 0.5s;
    z-index: 99;
} 

.desplegable nav:hover {
    opacity: 1;
    transition: 0.5s;
}


/* Colocar el boton donde cae bien */
.desplegable nav label { 
    position: relative; 
    top: 20px; 
    left: 10px; 
}

/* Esto hace que se vea la label con el icono ABIERTO o CERRADO */
.desplegable nav input:not(:checked) ~ label span.cerrado { 
    display: inline; 
}

.desplegable nav input:not(:checked) ~ label span.abierto { 
    display: none;  
}

.desplegable nav input:checked ~ label span.cerrado { 
    display: none;  
}
.desplegable nav input:checked ~ label span.abierto { 
    display: inline;  
}

/* Esto es para que el menú se vea o se oculte según esté el botón */
.desplegable nav ul { 
    position: relative; 
    top: -15px;
    margin-left: 10px;
    width: 200px; 
    background-color: var(--fondo)
}

.desplegable nav input:not(:checked) ~ ul  { 
    left: -210px;  
    transition: 0.5s;
}

.desplegable nav input:checked ~  ul { 
    left: 0px;  
    transition: 0.5s; 
}

/* Colocar el boton donde cae bien */
.desplegable nav input:not(:checked) ~ label { 
    position: relative; 
    top: 10px; 
    left: 10px; 
    transition: 0.5s;
}

.desplegable nav input:checked ~ label { 
    position: relative; 
    top: 10px; 
    left: 215px; 
    transition: 0.5s;
}


/* Aspecto de NAV en vertical */
.desplegable nav ul { 
    list-style: none;
    border-radius: 10px;
    text-align: center;
}

.desplegable nav ul li a { 
    display: block;
    text-transform: uppercase;
}

.desplegable nav ul li a:hover { 
    transform: translateX(40px) scale(1.1) rotate(.01turn);
    transition: 0.5s;
}

.desplegable nav ul li a:focus { 
    transform: rotate(1turn);
    transition: 0.4s;
}

.desplegable img.alcudia {
    height: 80px;
    position: relative;
    top: 15px;
}

.desplegable img.comunitat {
    height: 90px;
    position: relative;
    top: -20px;
} 

.portada {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/adc.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--secundario);
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

.portada h2 {
    font-size: 5rem;
    text-shadow: 4px 4px 2px var(--fondo);
    padding: 20px;
}

.portada h3 {
    font-size: 2.5rem;
    text-shadow: 3px 3px 2px var(--fondo);
    padding: 20px;
}

h2 a {
    text-decoration: none;
    color: var(--secundario)
}

.opacidad {
    opacity: 0.3;
    transition: 1s;
}

.opacidad:hover {
    opacity: 1;
    transition: 0.5s;
}

.nuestropueblo {
    display: flex;
}

.descripción {
    display: inline-block;
    position: relative;
    border: 15px solid var(--fondo);
    overflow: auto;
    width: 40vw;
    min-height: 50vh;
    text-align: justify;
}

.plaza {
    background-image: url(../img/plaza.png);
    display: inline-block;
    position: relative;
    width: 60vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 15px solid var(--fondo);
    border-right: 15px solid var(--fondo);
    border-bottom: 15px solid var(--fondo);
}

.bicimontana {
    background-image: url(../img/bici-montana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 35vh;
}

.senderismo {
    background-image: url(../img/senderismo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 35vh;
}

.asociaciones {
    background-image: url(../img/jubilados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 35vh;
}

.picnic {
    background-image: url(../img/picnic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 35vh;
}

.h2actividades {
    padding: 10px;
    color: var(--secundario);
    text-align: center;
    position: relative;
    top: 10vh;
    font-size: 4rem;
    text-shadow: 3px 3px 3px var(--fondo);
}


/* -------------------------------------------------------------------------- */
/*                            Fin página principal                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                   Inicio página de fiestas y actividades                   */
/* -------------------------------------------------------------------------- */

.infoactividades {
    display: inline-block;
    position: relative;
    overflow: auto;
    width: 60vw;
    min-height: 50vh;
    text-align: justify;
}

.senderismoactividades {
    background-image: url(../img/senderismo.jpg);
    display: inline-block;
    position: relative;
    width: 40vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 20px;
    margin-right: 30px;
}

.biciactividades {
    background-image: url(../img/bici-montana.jpg);
    display: inline-block;
    position: relative;
    width: 40vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 20px;
    margin-left: 30px;
}

.picnicactividades {
    background-image: url(../img/picnic.jpg);
    display: inline-block;
    position: relative;
    width: 40vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-right: 30px;
}

.asociacionesactividades {
    background-image: url(../img/jubilados.jpg);
    display: inline-block;
    position: relative;
    width: 40vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-left: 30px;
}

.fiestasactividades {
    background-image: url(../img/fiestas.jpg);
    display: inline-block;
    position: relative;
    width: 40vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin: 0px 30px 20px;
}

.h3der {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                     Fin página de fiestas y actividades                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                           Inicio página historia                           */
/* -------------------------------------------------------------------------- */

.fondohistoria {
    background-image: url(../img/adctransparencia.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 110vh;
    position: relative;
    top: -23px;
}

.ventana {
    width: 400px;
    height: 400px;
    vertical-align: top; 
    margin: 100px;
    border-radius: 25px;
    border: 10px solid var(--fondo);
    box-sizing: content-box;
}

.galeria {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.galeria img {
    border-radius: 20px;
    box-shadow: 2px 2px 2px black, -2px -2px 2px #aaa;
}

#botones input {
    text-align: center;
    margin: 10px;
    padding: 2px 20px;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: aqua;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black, -2px -2px 2px #aaa;
    transition: 1s;
}

#botones input:hover {
    box-shadow: 0.5px 0.5px 1px black, -0.5px -0.5px 2px #aaa;
    transition: 1s;
    color: #333;
}

#botones {
    display: flex;
    justify-content: center;
    position: relative;
    top: -60px;
    opacity: 0.2;
    transition: 0.5s;
}

#botones:hover {
    opacity: 1;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------- */
/*                             Fin página historia                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                     Inicio página centro de información                    */
/* -------------------------------------------------------------------------- */

.mapa {
    border: 3px solid var(--fondo);
    width: 750px;
    height: 500px;
    border-radius: 20px;
    margin: 0 auto;
    transition: 0.5s;

}

.mapa:hover {
    box-shadow: 3px 3px 3px black;
    transition: 0.5s;
}


.h2info {
    position: relative;
    top: 23px;
}

.fondoinfo {
    background-image: url(../img/adctransparencia.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 110vh;
    margin-bottom: 3px;
    position: relative;
    top: -20px;
}

.infotexto {
    margin-bottom: -23px;
}

.infotexto div {
    margin: 20px;
    display: flex;
}

.contenedor {
    border-radius: 8px;
    background-color: var(--fondo);
    padding: 20px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto; /* Esto es la forma de una caja que queda mucho más estética que un fieldset */
}


input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Aquí le pido que todo lo del formulario (inputs, selección y área del mensaje ocupen el 100% de un contenedor. Luego se le dibujan los bordes y se añade margin y padding */
}

input[type=submit] {
    background-color: var(--secundario);
    color: var(--fondo);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer; /* Con esto se deja claro que se puede pulsar el botón */
}

.boton {
    text-align: center;
    transition: 0.5s;
}

.boton:hover {
    background-color: var(--secundario);
    box-shadow: 1px 1px 3px black;
    transition: 0.5s;
    transform: scale(1.05) translateX(10px);
}

input:hover, textarea:hover {
    background-color: #CCC;
}

input, textarea {
    background-color: #DDD;
}

.tiempo section {
    position: fixed;
    opacity: 0.5;
    transition: 0.5s;
    z-index: 9999;
}

.tiempo section:hover {
    opacity: 1;
    transition: 0.5s;
}

.tiempo section label {
    position: relative;
    top: 10px;
    left: 10px;
}

.tiempo section input:not(:checked) ~ label span.cerrado {
    display: inline;
    font-size: 30px;
}

.tiempo section input:not(:checked) ~ label span.abierto {
    display: none;
}

.tiempo section input:checked ~ label span.cerrado { 
    display: none;  
}
.tiempo section input:checked ~ label span.abierto { 
    display: inline;  
    font-size: 30px;
}

.tiempo section article {
    position: relative;
    margin-left: -30px;
    width: 450px;
}

.tiempo section input:not(:checked) ~ article{
    left: -400px;
    transition: 0.7s;
}

.tiempo section input:checked ~ article {
    left: 10px;
    transition: 0.7s;
}

.tiempo section input:not(:checked) ~ label { 
    position: relative; 
    top: 30px; 
    left: 10px; 
    transition: 0.7s;
}

.tiempo section input:checked ~ label { 
    position: relative; 
    top: 3px; 
    left: 370px; 
    transition: 0.7s;
    color: var(--secundario)
}

@media (min-width: 0px) and (max-width: 902px) {
    header {
        display: none;
    }
    
    
    .tiempo section article {
        position: relative;
        margin-left: -30px;
        width: 450px;
        height: 100px;
    }
}

@media (min-width: 0px) and (max-width: 600px) {
    .nuestropueblo {
        display: flex;
        flex-direction: column;
    }

    .plaza {
        width: 100%;
        border-bottom: 3px solid var(--secundario);
        box-shadow: 0px 3px 5px;
        border-right: none;
        background-size: cover;
    }

    .descripción {
        width: 100%;
        border-bottom: none;
    
    }

    .senderismoactividades, .infoactividades, .biciactividades, .picnicactividades, .asociacionesactividades, .fiestasactividades {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin: 20px auto;
    }

    span a img {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    .galería {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 400px;
        margin: 0 auto;
    }

    .ventana {
        display: flex;
        justify-content: center;
        transform: scale(0.8);
        margin: 0 auto;
    }

    .h2actividades {
        font-size: 2.5rem;
    }

    .h3izq {
        display: none;
    }

    .h3der {
        display: flex;
        font-family: 'Archivo', sans-serif;
        padding: 10px;
        margin: 20px;
        justify-content: center;
        font-size: 1.7rem;
    }

}